color-black = black

color-primary-gray = #9B9B9B
color-primary-gray-light = #D8D8D8

color-primary-green = #4CD964
color-primary-red = #FF6643
color-primary-blue = #03A9F4

backgroundLineWidth = .3rem

zIndex-backgroundLine = -1